{% from "table.njk" import table %}
{% set pageTitle = "books" %}
{% extends "base.njk" %}

{% block mainContent %}
  
  {{ table(["name", "date", "authors"], ["name", "date"], data) }}
{% endblock %}

